<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsFirstRun" value="false" />
    <add key="JavaPath" value="runtime\x64\java\JRE8u251\bin\javaw.exe" />
    <add key="GameDir" value=".minecraft" />
    <add key="GameVersion" value="1.16.1" />
    <add key="ApiTimeout" value="10000" />
    <add key="RamMax" value="2048" />
    <add key="RamMin" value="128" />
    <add key="Mail" value="" />
    <add key="UUID" value="" />
    <add key="Token" value="" />
    <add key="IsPreferIPv6" value="true" />
    <add key="ViewDistance" value="6" />
  </appSettings>
</configuration>